{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% crispy form %}

<div class="modal fade" id="ModalCategory" tabindex="-1" role="dialog" aria-labelledby="ModalCategory" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'category_create_form.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<!-- <script>
    $(document).ready(function () {
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    });
</script> -->
{% endblock %}